.header-container {
    display: flex;
    background-color: palegoldenrod;
    height: 33px;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    .title {
        font-size: x-large;
        font-weight: bold;
    }
    img {
        height: 33px;
        width: 33px;
    }
}