@import url('https://fonts.googleapis.com/css2?family=Goudy+Bookletter+1911&family=Original+Surfer&display=swap');

$baseColor: blue;
$principalFont: 'Goudy Bookletter 1911', serif;
$secondaryFont: 'Original Surfer', cursive;
$borderRadius: 5%;
$boxShadow: 5px 5px 2px $baseColor;