@import url('https://fonts.googleapis.com/css2?family=Antonio&family=Poppins&display=swap');

$baseColor: red;
$principalFont: 'Antonio', sans-serif;
$secondaryFont: 'Poppins', sans-serif;
$borderRadius: 25%;
$boxShadow: 10px 10px 10px 5px $baseColor;