<form>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <div class="user-input" *ngIf="!isLoading">
    <mat-form-field appearance="fill">
      <mat-label>Usuario</mat-label>
      <input type="email" matInput [formControl]="emailFormControl"
              placeholder="P. ej. adri@lemoncode.net">
      <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
        Please enter a valid email address
      </mat-error>
      <mat-error *ngIf="emailFormControl.hasError('required')">
        El usuario es <strong>obligatorio</strong>
      </mat-error>
    </mat-form-field>
  </div>
  <div class="password-input" *ngIf="!isLoading">
    <mat-form-field appearance="fill">
      <mat-label>Contraseña</mat-label>
      <input type="password" matInput [formControl]="passwordFormControl">
      <mat-error *ngIf="passwordFormControl.hasError('required')">
        La contraseña es <strong>obligatoria</strong>
      </mat-error>
    </mat-form-field>
  </div>
  <div class="login-button" *ngIf="!isLoading">
    <button mat-button color="primary" (click)="onLogin()"
      *ngIf="emailFormControl.valid && passwordFormControl.valid">Login</button>
  </div>
</form>  
