.footer-container {
    display: flex;
    width: 100vw;
    justify-content: center;
    background-color: palevioletred;
    vertical-align: middle;
    height: 40px;
    align-items: center;
    p {
        margin: 0;
    }
}